body {
    background-color: #151515;
}

#heading {
    color: white;
    font-family: sans-serif;
}

#board {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(8, 70px);
    grid-template-rows: repeat(8, 70px);
    /*gap: 5px;*/


}

.cell {
    display: flex;
    /* background-color: green; */
    width: 70px;
    height: 70px;
    border-color: gray;
    border-style: solid; 
    border-width: 3px;
    justify-content: center;
    align-content: center;
}

#pieces {
    font-size: 75px;
    align-self: center;
}